include ../svgiconsmodule/svgicons.pug
#intermediate-layer
    include ../peertopeermodule/peertopeer.pug
    include ../chatmodule/chat.pug

header: include ../headermodule/header.pug
main: include components/main.pug
footer: include ../footermodule/footer.pug