include ../svgiconsmodule/svgicons.pug
include ../chatframemodule/chatframe.pug

header: include ../headermodule/header.pug
main: include components/main.pug
footer: include ../footermodule/footer.pug