// chatframe styles
#hidden-templates
    display none

#chatframe.here
    transform translateX(0)

#chatframe
    position fixed
    z-index 50
    top 0
    left 0
    width 100%
    height 100vh
    padding 100px 15px 50px 15px
    box-sizing: border-box
    transform translateX(-102%)
    background #333
    transition transform 0.3s

#my-video-streams-block
    display: none
    // display flex
    position absolute
    bottom 100px
    right 0
    width 320px
    height 160px
    background-color black

#desktop-capture-block 
    width 160px
    height 160px
    background-color green

#web-cam-block
    width 160px
    height 160px
    background-color blue


#incoming-video-streams-block 
    width 100%
    height calc(100vh - 200px)
    background-color: #0091EA
    border-radius: 30px
    overflow hidden

#chat-input-block
    position absolute
    bottom 30px
    left 50%
    transform translateX(-50%)
    width 100%

    input
        padding: 10px
        box-sizing: border-box
        background-color #4445
        text-align: left
        width 100%
        border: none
        font-size: 13pt
        color white

    input:focus
        // padding: 7px
        background-color #4449
        border none

#peer-display-block
    position: absolute
    top 110px
    right 0

    .peer-display-element
        margin-bottom 10px
        padding 10px
        width 280px
        background-color #4449
        display flex
        justify-content: space-around
        align-items: center
        svg
            width 30px
            height 30px
        .peer-name-display
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
        .peer-call-button
            padding 5px
        .peer-video-button
            padding 5px

#chat-history-block
    position: absolute
    display: flex
    flex-direction: column-reverse
    top 0
    left 15px
    width 280px
    height 100vh
    background-color #4444

    .chat-element
        margin-bottom 7px
        padding 5px
        font-size 12pt
        letter-spacing 0.8pt
        line-height: 120%

    .chat-text
        text-align: left

    .chat-time
        text-align: right
        // background-color alpha(cd-flash, 0.6)
        padding 3px
        font-size: 7pt
        color darkgrey

@media screen and (min-width: 600px)
    #chat-history-block
        left 250px !important

    #chat-input-block
        width 50%
        left 40%
        transform none


    #my-video-streams-block
        right 120px
        width 540px
        height 270px
        background-color black

    #desktop-capture-block 
        width 270px
        height 270px
        background-color green

    #web-cam-block
        width 270px
        height 270px
        background-color blue
