// header styles
#header
    position fixed
    z-index 99
    width 100%
    padding 10px 20px
    box-sizing: border-box
    color cd-flash
    text-align: right
    filter: drop-shadow(0 2px 2px black)
    
    