include ../svgiconsmodule/svgicons.pug
include ../upbuttonmodule/upbutton.pug

header
    include ../menumodule/menu.pug
    include herosection.pug

header: include ../headermodule/header.pug
main: #content: include:markdown-it(html) ../../ressources/md-content/consultingarticle.md
footer: include ../footermodule/footer.pug
