// chat styles
#chat
    background-color rgba(0, 0, 0, 0.2)
    text-align: right

    font-family: monospace

    width: 512px
    max-width: 512px
    min-width: 512px

    padding: 1em

    > *
        margin: .5em 0

    .inactive
        color: grey

    #chat-messages
        min-height: 256px
        max-height: 256px
        height: 512px
        overflow-y: scroll
        text-align: left

    #chat-present
        .present
            font-size: 0.75em

        .seen
            font-size: 0.85em
            color: #404040

    input
      width: 512px
      max-width: 512px
      min-width: 512px

      font-family: monospace
      border: none
      background: #afafaf60
