/*==========================================================
Upbutton
==========================================================*/
#upbutton
    color white
    cursor pointer
    position: fixed
    right: 30px
    bottom: 30px
    transform translateY(100px)
    width: 40px
    height: 40px
    background-color: alpha(cd-dark, 0.4)
    transition transform 0.3s
    border-radius 3px
    z-index: 200
    svg
        height 40px
        width 40px

#upbutton.shown
    transform translateY(0)