#hero-section
    include ../../queryfieldmodule/queryfield.pug
#recommendation-section 
    a#entry1.article-preview(href="/article1.html"): h2 Sample Advice Land Article
    a#entry2.article-preview(href="/article2.html"): h2 The world is not black and white.<br><br> It is coffee and not coffee.
    a#entry3.article-preview(href="/article3.html"): h2 Article 3
    a#entry4.article-preview(href="/article4.html"): h2 Article 4
    a#entry5.article-preview(href="/article5.html"): h2 Article 5
    a#entry6.article-preview(href="/article6.html"): h2 Article 6
    a#entry7.article-preview(href="/article7.html"): h2 Article 7
    a#entry8.article-preview(href="/article8.html"): h2 Article 8
    a#entry9.article-preview(href="/article9.html"): h2 Article 9 multi line Article with multiple Lines in the title
